* {box-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > div {
  background-color: rgba(88,233,111,.5);
  color: #0f8928;
  border: 2px solid rgb(68,213,91);
  padding: 1em;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

div .header {
  font-weight: bold;
}
